
.calculator{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate( -50%, -50%);
    text-align: center;
    margin: 0 auto;
    /* border: 5px solid rgb(59, 59, 59); */
    background: black;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 0 20px rgb(134, 0, 251);
}

div, button{
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: minmax(60px, auto);
    background-color: rgb(66, 66, 66);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.button{
    font-size: medium;
    width: 3.4rem;
    height: 2.5rem;
    border: none;
    font-weight: lighter;
}

.button1{
    font-size: medium;
    width: 3.4rem;
    height: 2.5rem;
    border: none;
    border-bottom-left-radius: 10px;
}   

.button2{
    font-size: medium;
    width: 3.4rem;
    height: 2.5rem;
    border: none;
    border-bottom-right-radius: 10px;
    background-color: rgb(119, 0, 255);
}

input:focus{
    outline:none;
}

.button:hover{
    background-color: rgb(228, 228, 228);
}

.button1:hover{
    background-color: rgb(228, 228, 228);
}

.button2:hover{
    background-color: rgb(98, 0, 209);
}

.buttong:hover{
    background-color: rgb(194, 194, 194);
}

.buttono:hover{
    background-color: rgb(0, 183, 228);
}

.buttong{
    font-size: medium;
    width: 3.4rem;
    height: 2.5rem;
    border: none;
    font-weight: lighter;
    background-color: rgb(209, 209, 209);
}

.buttono{
    font-size: medium;
    width: 3.4rem;
    height: 2.5rem;
    border: none;
    font-weight: lighter;
    background-color: rgb(0, 204, 255);
}


input{
    height: 5rem;
    width: 13rem;
    background-color: rgb(0, 0, 0);
    color: rgb(217, 249, 254);
    text-shadow: 0 0 10px rgb(70, 216, 226) ;
    border: none;
    font-size: xx-large;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    text-align:right;
    padding-right: 10px;
    padding-top:10px;
    -webkit-text-stroke: .5px rgb(0, 255, 255);

}