

.calculator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: centerg;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate( -50%, -50%);
    width: 25vw;
    text-align: center;
    margin: 0 auto;
    border: 10px solid black;
    background: black;
    border-radius: 10px;
}


.keypad {
    display: grid;

    
}