
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-image: url("./DALL·E\ 2023-08-18\ 13.28.44\ -\ night\ sky\ with\ number\ symbal\ space\ ships\ landing\ in\ didtance\,\ digital\ art\ copy.png");
  background-color: rgba(0, 0, 0, 0.39) ;
  background-blend-mode: multiply;
  background-size:contain;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overscroll-behavior: none;  
  display: flex;
  justify-content: center;
  align-items: center;
}

